@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <table>
        <tr>
            <th>Hello to Notification Backend Logs</th>
        </tr>
    </table>
}
